<h1>Editing authentication_provider</h1>

<% form_for( :authentication_provider, @authentication_provider, :url => { :controller => "admin/authentication_providers", :action => "update", :id => @authentication_provider.id }, :html => { :method => 'put' } ) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
		<%= f.select :type, @authentication_provider_types %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :logo %><br />
    <%= f.text_field :logo %>
  </p>
  <p>
    <%= f.label :button %><br />
    <%= f.text_field :button %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.text_field :active %>
  </p>
  <p>
    <%= f.label :display_sequence %><br />
    <%= f.text_field :display_sequence %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_authentication_provider_path(@authentication_provider) %> |
<%= link_to 'Back', admin_authentication_providers_path %>
