<h1>Listing authentication_providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Label</th>
    <th>Logo</th>
    <th>Button</th>
    <th>Description</th>
    <th>Active</th>
    <th>Display sequence</th>
  </tr>

<% for authentication_provider in @authentication_providers %>
  <tr>
    <td><%=h authentication_provider.name %></td>
    <td><%=h authentication_provider.type %></td>
    <td><%=h authentication_provider.label %></td>
    <td><%=h authentication_provider.logo %></td>
    <td><%=h authentication_provider.button %></td>
    <td><%=h authentication_provider.description %></td>
    <td><%=h authentication_provider.active %></td>
    <td><%=h authentication_provider.display_sequence %></td>
    <td><%= link_to 'Show', admin_authentication_provider_path(authentication_provider) %></td>
    <td><%= link_to 'Edit', edit_admin_authentication_provider_path(authentication_provider) %></td>
    <td><%= link_to 'Destroy', admin_authentication_provider_path(authentication_provider), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New authentication_provider', new_admin_authentication_provider_path %>
