<head>
<title><%= @head_title || "Ma.gnolia.com - Find Web Sites &amp; Build Community Online" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="<%= @head_description || "Find web sites with Ma.gnolia's social bookmarking online community. Organize bookmarks, search other people's favorites and make friends online." %>" />

<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" title="Ma.gnolia" href="/addons/opensearch.xml" />

<%= stylesheet_link_tag :defaults, :cache => true %>
<%= javascript_include_tag :defaults, :cache => true %>
<%= javascript_include_tag( @page_specific_js, :cache => 'page_specific' ) if @page_specific_js %>

<% if facebook_session -%>
<%= fb_connect_javascript_tag %>
<%= init_fb_connect ["XFBML"], "{\"ifUserNotConnected\":\"/login\"}" %>
<% end -%>

<%= yield :head %>

</head>