
<h1>Registration:</h1><br />
 
<% form_for @user do |f| %>

  <%= f.error_messages %>

	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email, :onblur => "checkEmail(this.value, 'verify_email', '#{form_authenticity_token}')" %>
	</p>
	<p id="verify_email">
		<%= email_taken?(@user.email) unless @user.email.blank? %>
	</p>
	
	<p>We'll send a confirmation email to this address.</p>
	
	<p>
		<%= f.label :screen_name %><br />
		<%= f.text_field :screen_name, :onblur => "checkScreenName(this.value, 'check_username', '#{form_authenticity_token}')" %>
	</p>
	<p id="check_username">
		<%= screen_name_taken?(@user.screen_name) unless @user.screen_name.blank? %>
	</p>
	
	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password, :onblur => "checkPasswords('check_password')" %>
	</p>
	
	<p>
		<%= f.label :confirm_password %><br />
		<%= f.password_field :confirm_password, :onblur => "checkPasswords('check_password')" %>
	</p>
	
	<p id="check_password">
	</p>

  <%= f.submit "Register" %>

<% end %>