<h1>Join Ma.gnolia</h1>
 
<% form_for @user do |f| %>

  <%= f.error_messages %>

	<%= render :partial => '/users/email_field', :locals => { :f => f } %>
	
	<p>We'll send a confirmation email to this address.</p>
	
	<%= render :partial => '/users/screen_name_field', :locals => { :f => f } %>

	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password, :onblur => "checkPasswords('check_password')" %>
	</p>
	
	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, :onblur => "checkPasswords('check_password')" %>
	</p>
	
	<p id="check_password">
	</p>

	<p>
		By signing in to join, you agree to Ma.gnolia's <%= link_to "Terms of Service", tos_url, :title => "View Ma.gnolia's Terms of Service", :target => "_blank" %> and <%= link_to "Privacy Policy", privacy_url, :title => "View Ma.gnolia's Privacy Policy", :target => "_blank" %>.
	</p>
	
  <%= f.submit "Register" %>

<% end %>