
<% if known_provider.logo_path -%>
<%= image_tag( known_provider.logo_path, :alt => known_provider.name, :id => 'auth_provider_icon', :style => 'float: left; margin:0 8px 0 0' ) %>
<% end -%>

<div class='auth_container'>
	
	<label for="#{known_provider.name.downcase}_user_name"><%= known_provider.label %></label><br />
	<%= text_field_tag "#{known_provider.name.downcase}_user_name", @screen_name, :class => 'text' %>
	
	<p id='<%= known_provider.name.downcase %>_provider_description' class="caption signin_element">
		<label for="openid_url">Your OpenId:</label><br />
		<%= text_field_tag "openid_url", known_provider.description, :class => 'text' %>		
	</p>

	<script type="text/javascript" charset="utf-8">
		new FieldValueReplicator( "<%= known_provider.name.downcase %>_user_name", "<%= known_provider.name.downcase %>_provider_description", 'user_name' );
	</script>
	<p>
		<%= submit_tag "Sign In" %>
	</p>
</div>