
<% if open_id_provider.logo_path -%>
<%= image_tag( open_id_provider.logo_path, :alt => open_id_provider.name, :id => 'auth_provider_icon', :style => 'float: left; margin:0 8px 0 0' ) %>
<% end -%>

<div class='auth_container signin_element'>
	<label for="openid_url_<%= open_id_provider.name.downcase %>"><%= open_id_provider.label %></label><br/>
	<input type="text" name="openid_url_<%= open_id_provider.name.downcase %>" class="signin_element text" style='clear: both;' value=""/><br />

	<span class="caption signin_element">
		<%= open_id_provider.description %>
	</span>
	<p>
		<%= hidden_field_tag "auth_method_#{ open_id_provider.name.downcase }".to_sym, 'open_id' %>
		<%= submit_tag "Sign In" %>
	</p>
	<% if open_id_provider.name.downcase == "openid" %>
	<div style="padding:5px 5px 7px 5px;border:1px solid #f2f2f2;">
		<div style="font-weight:bold;font-size:.85em">Don't have OpenID? <a href="https://myvidoop.com/register/affiliate/38">Get one here</a>.</div>
		<div><img src="https://myvidoop.com/global/images/myVidoopSiteBadge_82x17.png" width=80 height=15 valign=bottom/> <span style="font-size:.75em">More secure than passwords.</span></div>
	</div>
	<% end -%>
</div>