<h1>Join Ma.gnolia</h1>
<br />
 

<p>You have been authenticated. To complete your registration we just need a little more information.</p>

<% form_for @user, :url => third_party_registration_path, :html => { :method => 'put' } do |f| %>

  <%= f.error_messages %>
	
	<%= render :partial => '/users/screen_name_field' %>
	
	<p>
		For the last step, where can we send Ma.gnolia-related notifications? You can set specific preferences in Orientation.
	</p>
	
	<%= render :partial => '/users/email_field' %>
	
	<%= render :partial => '/users/terms_of_use' %>
	
	<%= render :partial => '/users/submit_registration' %>
	
<% end %>