
<div id='authentication_form_container'>
	
	<% form_for( @user_session, :url => user_session_path, :html => { :id => 'authentication_form' } ) do |f| %>
		
		<%= f.error_messages %>

		<div style='float: right;'> <%= link_to 'Use OpenId', new_user_session_path, :title => 'Login with OpenId' %></div>
		<div style='float: left;'><%= f.label :email, "Email" %></div>

		<%= f.text_field :email %><br />
		<br />

		<%= f.label :password %><br />
		<%= f.password_field :password %><br />
		<%= f.submit "Sign In" %><br />

		<p><%= f.check_box :remember_me, :style => 'vertical-align: middle;' %><%= f.label :remember_me, 'Keep me signed in' %></p>
	
	<% end %>
	
</div>