                          
<div id="authentication_container">
	
<h1>Sign In To Ma.gnolia</h1>

<% if @show_password_form -%>
	<%= render :partial => 'password_form' %>
	
<% else -%>

	<div id='authentication_form_container'>
		<% remote_form_for( @user_session, 
				:url => user_session_path, 
				:html => { :id => 'authentication_form' }, 
				:before => "Element.show('spinner');Element.hide('authentication_form_container')",
				:complete => "Element.hide('spinner');Element.show('authentication_form_container')"
		) do |f| %>

		  <%= f.error_messages %>

		  <p>
				<%= label_tag :openid_identifier, "Enter your email or" %> <%= link_to 'OpenId', 'http://openid.net', :title => 'Learn more about OpenId' %><br />
			  <%= text_field_tag :openid_identifier %><br />
			 	<%= f.submit "Go" %><br />
			</p>
			
		  <p><%= f.check_box :remember_me, :style => 'vertical-align: middle;' %><%= f.label :remember_me, 'Keep me signed in' %></p>

		<% end %>

		<p>Not a member? You can <%= link_to 'Join Free', signup_url %>.</p>
		
		<p>If needed you can <%= link_to 'reset your password', new_password_reset_path %>.</p>
		
	</div>
	
	<div id='spinner' style='display:none;'>
		<p>Just a moment...</p>
		<%= image_tag 'ajax-loader.gif' %>
	</div>
	
<% end -%>
</div>

