<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<%= render :partial => "layout_components/head" %>

	<body class="<%= @site_section %> basic">

		
		<div id="contain">

			<%= render :partial => "layout_components/masthead" %>
			
			<div id="main">

				<%= show_system_messages %>

				<%= @content_for_layout -%>

			</div>

			<div id="sidebar">
				
			</div>
		</div>

	</body>
</html>